.reveal
  font-size: 30px
  letter-spacing: 0

.reveal .controls div
  opacity: 0.1

.reveal .controls div.navigate-up.fragmented,
.reveal .controls div.navigate-right.fragmented,
.reveal .controls div.navigate-bottom.fragmented,
.reveal .controls div.navigate-left.fragmented
  opacity: 0.5

.reveal .progress
  top: 0
  bottom: auto
  height: 5px
  background: lighten($etchSalmon, 25%)

.reveal p,
.reveal .slides > section,
.reveal .slides > section > section
  line-height: 1.8

.reveal .slides section .fragment.grow
  opacity: 0
  &.visible
    opacity: 1

.reveal section img, .reveal a:hover img
  border: 0
  margin: 0
  box-shadow: none

.reveal blockquote
  border: 0
  background-color: #eee

.reveal pre
  padding: 0.5em
  display: block
  padding: 0.5em
  background: #3F3F3F
  color: #DCDCDC
  box-shadow: none

.reveal pre code
  max-height: none

.reveal .slides section .fragment.reduce-opacity
  opacity: 1
  .reduce
    transition: all .2s linear
  &.visible .reduce
    opacity: 0.6
