section#build-static-site-generators.slide-build-static-site-generators
  h2 Build Tools

  h3 Static Site Generators
  img(src='/images/jekyll-logo.png', alt='Jekyll', width='400')
  .col-container
    .col-left
      ul
        li: a(href='http://octopress.org/',target='_blank') Octopress
        li: a(href='http://middlemanapp.com/',target='_blank') Middleman
        li: a(href='http://wintersmith.io/',target='_blank') Wintersmith
    .col-right
      ul
        li: a(href='http://assemble.io/',target='_blank') Assemble
        li: a(href='https://brace.io/',target='_blank') Brace.io
        li: a(href='https://sculpin.io/',target='_blank') Sculpin

  aside.notes.
    Octopress - jekyll with extras, assemble - zurb, grunty #[br]
    wintersmith - coffeescript, metalsmith JS #[br]
    Brace.io - files in dropbox #[br]
    Sculpin - PHP. Kirby, Dropplets
