section#build-task-runners.slide-build-task-runners
  h2 Build Tools

  .fragment
    h3 Task Runners
    .task-runners
      ul.task-runners-major
        li: a(href='http://gruntjs.com/',target='_blank'): img(src='/images/grunt-logo.png', alt='Grunt', width='300')
        li: a(href='http://gulpjs.com/',target='_blank'): img(src='/images/gulp-logo.png', alt='Gulp', width='150')
      ul.task-runners-minor
        li: a(href='http://brunch.io/',target='_blank') Brunch
        li #[a(href='http://www.gnu.org/software/make/',target='_blank') Make]/#[a(href='https://github.com/ruby/rake',target='_blank') Rake]
        li #[a(href='http://ant.apache.org/',target='_blank') Ant]/#[a(href='http://www.phing.info/',target='_blank') Phing]
        li: a(href='http://en.wikipedia.org/wiki/Bash_%28Unix_shell%29',target='_blank') .sh
