section#deploy-ftp-summary.slide-deploy-ftp-summary
  h2 Deploy via FTP

  p.
    We used #[a(href='https://github.com/zonak/grunt-ftp-deploy',target='_blank') grunt-ftp-deploy ] - many alternatives available.

  ul
    li.fragment Deploy with a single task &#x1f604;
    li.fragment They don't delete files &#x1f622;
    li.fragment Slow for preview environments (bower &#x1f602;)
