section#deploy-s3-intro.slide-deploy-s3-intro
  h2 Deploy to #[abbr(title='Amazon Web Services') AWS] S3

  ul
    li Fast, cheap file storage
    li Easily configured as a static web server
    li Has own sub-domain
    li Can specify headers for files
