section#deploy-s3-summary.slide-deploy-s3-summary
  h2 Deploy to #[abbr(title='Amazon Web Services') AWS] S3

  p.
    We used #[a(href='https://github.com/MathieuLoutre/grunt-aws-s3',target='_blank') grunt-aws-s3].
    There&rsquo;s also #[a(href='https://github.com/jpillora/grunt-aws',target='_blank') grunt-aws] which might be better
    - however it only allows for a single bucket.

  ul.fragment
    li Deploy with a single task &#x1f604;
    li Can empty a bucket easily &#x1f606;
    li Supports differential uploads &#x1f60e;
    li Have to specify caches yourself &#x1f61e;
