section.slide-dependencies-npm
  h2 Grunt Dependencies
  h3 Node Package Manager
  ul
    li.fragment package.json
    li.fragment Typically used for node modules to define deps and meta information
    li.fragment We use it for grunt tasks
    li.fragment Installed with #[code npm install]
    li.fragment Install them to ./node_modules/

