section.slide-deploy-s3-intro
  h2 Deploy to #[abbr(title='Amazon Web Services') AWS] S3

  ul
    li.fragment Fast, cheap file storage
    li.fragment Easily configured as a static web server
      ul
        li Index file
        li Error file
    li.fragment Has own sub-domain
    li.fragment Can CNAME sub-domain or ALIAS domains
    li.fragment Can specify headers for files
    li.fragment Can use #[a(href='http://aws.amazon.com/cloudfront/') Amazon Cloud Front ] for CDN
