section.slide-deploy-s3-summary
  h2 Deploy to #[abbr(title='Amazon Web Services') AWS] S3

  p.
    We used #[a(href='https://github.com/MathieuLoutre/grunt-aws-s3') grunt-aws-s3].
    There's also #[a(href='https://github.com/jpillora/grunt-aws') grunt-aws] which might be better
    - however it only allows for a single bucket.

  ul
    li.fragment Deploy with a single task &#x1f604;
    li.fragment Can empty a bucket easily &#x1f606;
    li.fragment Supports differential uploads &#x1f60e;
    li.fragment Have to specify caches yourself &#x1f61e;
