section#dependencies-bower.slide-dependencies-bower
  h2 Client Dependencies
  h3 Bower
  ul
    li Defined in bower.json
    li Local configuration in .bowerrc
    li Library on #[a(href='http://bower.io',target='_blank') bower.io]
    li Dependencies installed with #[code bower install]
    li Installs them to ./bower_components/
    li We include them into HTML files
    li Could use #[a(href='https://github.com/stephenplusplus/grunt-wiredep',target='_blank') grunt-wiredep]
