section#dependencies-npm.slide-dependencies-npm
  h2 Build Dependencies
  h3 Node Package Manager
  ul
    li Defined in package.json
    li Used for Grunt tasks in this project
    li Installed with #[code npm install]
    li Installs them to ./node_modules/

