section#error-pages.slide-error-pages
  h2 Error Pages

  ul
    li.fragment Pretty much tailored to hosting platform
      ul
        li Github uses 404.html
        li s3 is user defined
    li.fragment You don't need many error pages as only a few errors are possible
    li.fragment s3 won't return correct status for 403 unless you turn on anonymous indexing
