section.slide-globbing
  h2 Globbing
  p.
    To get the most out of Grunt/Gulp you need to understand
    #[a(href='http://en.wikipedia.org/wiki/Glob_(programming)',target='_blank') globbing]
    and #[a(href='https://github.com/isaacs/minimatch',target='_blank') minimatch] for file matching.
  pre
    code.javascript.
      var minimatch = require("minimatch")

      minimatch('bar.foo', '*.foo') // true!
      minimatch('bar.foo', '*.bar') // false!



