section#great-for.slide-great-for
  h2 Great For
  ul
    li.fragment Breaking free &#x1F60E;
    li.fragment Prototyping
    li.fragment Brochure Sites
    li.fragment Blogs
    li.fragment Web Apps
  aside.notes Mention Mobile and Desktop Apps
