section#grunt.slide-grunt
  h2 Grunt Task Runner
  ul
    li Popular task runner (&gt; 8000 &#x2b50;)
    li Manages automation in the project
    li Tasks defined &amp; configured in gruntfile.js
    li Tasks run syncronously by default
