section#grunt-preview.slide-grunt-preview
  h2 Preview Version
  h4 A deployable compiled version of the app without performance tasks. Good for understanding the source

  .fragment
    p.pre-description To Run:
    pre
      $ grunt serve:preview

    ul
      li Compiles Jade, SASS and Coffeescript on build
      li Files compiled to a preview directory
      li Copies assets to preview directory
