section.slide-grunt
  h2 Grunt Task Runner
  ul
    li.fragment Popular task runner (&gt; 8000 &#x2b50;)
    li.fragment gruntfile.js
    li.fragment Manages automation in the project
    li.fragment Mostly configuration with some tasks defined
    li.fragment Tasks run syncronously by default
