section#grunt-dist.slide-grunt-dist
  h2 Distributable version

  p.pre-description To Run:
  pre
    $ grunt serve:dist

  ul
    li Compiles Jade, SASS and Coffeescript on build
    li Files compiled to a dist directory
    li Copies assets to dist directory
    li Custom modernizr built
    li JS/CSS files concatenated
    li HTML/JS/CSS/SVG/images minified
    li Assets fingerprinted

