section#grunt-dev.slide-grunt-dev
  h2 Development Environment

  p.pre-description To Run:
  pre
    $ grunt serve

  ul(style='margin-top:1.5em')
    li.fragment Serves the site on localhost
    li.fragment Compiles Jade, SASS and Coffeescript on change
    li.fragment Compiled files go to a temporary directory
    li.fragment Live reloads files on change
