section#grunt-dist.slide-grunt-dist
  h2 Distributable version

  p.pre-description To Run:
  pre
    $ grunt serve:dist

  ul(style='margin-top:1.5em')
    li.fragment Compiles Jade, SASS and Coffeescript on change
    li.fragment Files compiled to a dist directory
    li.fragment Copies assets to dist directory
    li.fragment Custom modernizr built
    li.fragment JS/CSS files concatenated
    li.fragment HTML/JS/CSS/SVG/Images minified
    li.fragment Assets fingerprinted

