section.slide-grunt-tasks
  h2 Grunt Tasks
  .col-container
    .col-left
      ul
        li watch
        li connect
        li clean
        li jade
        li coffee
        li sass
        li autoprefixer
        li rev

    .col-right
      ul
        li usemin
        li imagemin
        li svgmin
        li htmlmin
        li copy
        li modernizr
        li aws_s3
        li ftp-deploy
