section#gulpfile.slide-gulpfile
  h2 gulpfile.js
  pre
    code.javascript.
      var gulp = require('gulp');

      // load plugins
      var $ = require('gulp-load-plugins')();

      gulp.task('styles', function () {
        return gulp.src('app/styles/main.scss')
               .pipe($.rubySass({
                 style: 'expanded',
                 precision: 10
               }))
               .pipe($.autoprefixer('last 1 version'))
               .pipe(gulp.dest('.tmp/styles'))
               .pipe($.size());
      });

      // many more tasks ...
