section.slide-gulp
  h2 Gulp
  ul
    li.fragment Alternative to Grunt - had some hype last year
    li.fragment gulpfile.js to manage automation
    li.fragment Uses a code over configuration approach
    li.fragment Tasks run syncronously
    li.fragment Shorter build files, but more specific tasks
    li.fragment Smaller eco-system
