section.slide-hosting-s3
  h2 Hosting on s3

  ul
    li.fragment Use s3 API to upload
    li.fragment DNS needs #[code CNAME] or #[code ALIAS] records
    li.fragment Can't basic auth - #[a(href='http://www.s3auth.com/') s3Auth alternative]
    li.fragment Cache controlled on file basis via API
    li.fragment Very cheap
    li.fragment #[a(href='http://aws.amazon.com/cloudfront/') Cloudfront]
      ul
        li Global CDN
        li Easier caching
        li SSL
