section#hosting-generic.slide-hosting-generic
  h2 Hosting on Apache

  ul
    li Just upload dist version of site
    li Usual DNS setup
    li Set up .htaccess or vhost for caching
    li Standard cost
    li Scaling complex
