section#hosting-github.slide-hosting-github
  h2 Hosting on Github

  ul
    li.fragment Push to branch to deploy
    li.fragment Code public (unless private repo)
    li.fragment Can't auth
    li.fragment DNS needs #[code CNAME] or #[code ALIAS] records
    li.fragment Caches for 10 mins, no finer control
    li.fragment Free
    li.fragment Global CDN
    li.fragment Best suited for internal projects
