section#hosting-generic.slide-hosting-generic
  h2 Hosting on Apache

  ul
    li.fragment Just upload dist version of site
    li.fragment Usual DNS setup
    li.fragment Set up .htaccess or vhost for caching
    li.fragment Standard cost
    li.fragment Scaling complex
