section#hosting-s3.slide-hosting-s3
  h2 Hosting on s3

  ul
    li Use s3 API to upload
    li DNS needs #[code CNAME] or #[code ALIAS] records
    li Can't basic auth - #[a(href='http://www.s3auth.com/',target='_blank') s3Auth alternative]
    li Cache controlled on file basis via API
    li Very cheap
    li #[a(href='http://aws.amazon.com/cloudfront/',target='_blank') Cloudfront]
      ul
        li Global CDN
        li Easier caching
        li SSL
