section#hosting-github.slide-hosting-github
  h2 Hosting on Github

  ul
    li Push to branch to deploy
    li Code public (unless private repo)
    li Can't auth
    li DNS needs #[code CNAME] or #[code ALIAS] records
    li Caches for 10 mins, no finer control
    li Free
    li Global CDN
    li Best suited for internal projects
