section.slide-intro
  h2 Static Sites &#x2764;
  p.fragment.grow They're pretty trendy
  p.fragment but why?
  ul
    li.fragment Fast
    li.fragment Simple
    li.fragment Secure
    li.fragment Easy to deploy
    li.fragment Cheap to host
    li.fragment Rich library of tools
