section#jekyll-forms.slide-jekyll-forms
  h2 Forms

  ul
    li We can&rsquo;t process them &#x1f623;
    li.fragment Other people can though &#x1f61d;
      ul
        li: a(href='http://forms.brace.io/',target='_blank') Forms by Brace
        li: a(href='https://www.google.co.uk/forms/about/',target='_blank') Google Docs Form
        li: a(href='http://www.wufoo.com/',target='_blank') Wufoo
        li.
          #[a(href='https://parse.com/',target='_blank') Parse Cloud]
          (#[a(href='http://blog.steamshift.com/blog/2013/02/25/parse-plus-sendgrid-equals-equals-contact-forms-for-static-sites/#.VHOVTZOsWm0',target='_blank') integration])
