section.slide-jekyll-plugins
  h2 Plugins

  p.
    To really unlock the power of Jekyll we need Plugins

  ul
    li.fragment Responsive Images
    li.fragment Category Pages
    li.fragment Tagging System

  p.fragment But Github doesn&rsquo;t allow plugins
  h3.fragment(style='font-size:2em') &#x1f4a9;
