section#jekyll-turbo-responsive-images.slide-jekyll-turbo-responsive-images
  h2 Responsive Images

  p.fragment Super-hacked version of #[a(href='https://github.com/robwierzbowski/jekyll-picture-tag',target='_blank') jekyll-picture-tag]

  ul
    li.fragment Images placed with liquid tag #[code {% picture %}]
    li.fragment Resizes defined in #[code _config.yml]
    li.fragment Images created at build time
    li.fragment #[code &lt;img srcset&gt;] or #[code &lt;picture&gt;] elements output
    li.fragment #[a(href='https://github.com/scottjehl/picturefill',target='_blank') picturefill] polyfill used to display

