section#jekyll-turbo-plugin-types.slide-jekyll-turbo-plugin-types
  h2 Plugin types

  ul
    li.fragment Converters
      ul
        li Converts files at build time
        li defines output format and processing of file
    li.fragment Generators
      ul
        li Creates files at build
        li Inserts variables into templates
    li.fragment Tags
      ul
        li Liquid tags #[code {% tag %}]
    li.fragment Filters
      ul
        li Liquid filter #[code {% tag | filter %}]
