section#jekyll-title.slide-jekyll-title
  h2 Enter #[a(href='http://jekyllrb.com',target='_blank') Jekyll]
  h3(style='margin-top:8em').fragment.zoom-in I made a #[a(href='http://diy.kevindew.me',target='_blank') shitty one] for my DIY
