section#jekyll-turbo-plugins.slide-jekyll-turbo-plugins
  h2 Jekyll Plugins

  .fragment
    h3 app/_plugins directory
    ul
      li Individual Ruby files
      li Committed to repo
      li Homegrown or basic

  .fragment
    h3 Gemfile
    ul
      li Ruby dependency manager
      li Not committed
      li Substantial plugins or libraries
      li SASS plugins
