section.slide-jekyll-alternatives
  h2 Setup

  .fragment
    h4.pre-description Installation
    pre
      $ gem install jekyll

  .fragment
    h4.pre-description Initialise
    pre
      $ jekyll new diy && cd diy

  .fragment
    h4.pre-description View it
    pre
      $ jekyll serve --watch
    p.pre-description Available on http://localhost:4000 by default
