section.slide-jekyll-front-matter
  h2 Front Matter
  p Jekyll Posts and Pages are prefixed with YAML data
  h4.pre-description Page
  pre.
    ---
    layout: page
    title: About
    permalink: /about/
    ---

  h4.pre-description Post
  pre.
    ---
    layout: post
    title: "Moving Rooms"
    date: 2014-11-16 22:56
    gif: http://www.reactiongifs.com/wp-content/uploads/2013/08/spongebob1.gif
    gif_alt: Ready
    gif_title: We're ready
    ---
