section#jekyll-turbo-responsive-images.slide-jekyll-turbo-responsive-images
  h2 Responsive Images

  p Super-hacked version of #[a(href='https://github.com/robwierzbowski/jekyll-picture-tag',target='_blank') jekyll-picture-tag]

  ul
    li Images placed with liquid tag #[code {% picture %}]
    li Resizes defined in #[code _config.yml]
    li Images created at build time
    li #[code &lt;img srcset&gt;] or #[code &lt;picture&gt;] elements output
    li #[a(href='https://github.com/scottjehl/picturefill',target='_blank') picturefill] polyfill used to display

