section#jekyll-further.slide-jekyll-further
  h2 Do more with Jekyll
  .fragment
    h3 Search
    ul
      li Convert a json file that has all post content
      li Use AJAX to load it and #[a(href='http://lunrjs.com/',target='_blank') Lunr] to search
      li Update DOM to display results

  .fragment
    h3 Connect #[a(href='http://en.wikipedia.org/wiki/RSS', target='_blank') RSS] to #[a(href='https://ifttt.com/', target='_blank') IFTTT]
    ul
      li Automatically post to social media
      li Change your light bulb colours to celebrate a post

