section#jekyll-intro.slide-jekyll-intro
  h2 Jekyll
  ul
    li Written in Ruby by Github
    li Uses #[a(href='http://liquidmarkup.org/',target='_blank') Liquid] templates
    li Github will compile and host it for you

  h3.fragment Out of the Box
  ul
    li.fragment Posts
    li.fragment Markdown
    li.fragment Pagination
    li.fragment SASS/Coffeescript
    li.fragment Plugins #[span.fragment (Unless Github compiles it)]

  aside.notes Obamacare site
