section.slide-jekyll-turbo-jekyll-grunt
  h2 Jekyll + Grunt = &#x1f49b;

  ul
    li.fragment Jekyll ran as a #[a(href='https://github.com/dannygarcia/grunt-jekyll') grunt task]
    li.fragment Static-site power of Jeykll
      ul
        li Blog engine
        li Pagination
        li Responsive images
    li.fragment Web best practices power of Grunt
      ul
        li Fingerprinted assets
        li Modernizr generated
        li Autoprefixer
        li Minified

