section.slide-jekyll-dir
  h2 The Directory Structure
  pre.fragment.reduce-opacity.
    #[span.reduce -rw-r--r--    1 kev  staff   288 17 Nov 22:02 _config.yml]
    #[span.reduce drwxr-xr-x    5 kev  staff   170 14 Nov 10:49 _includes]
    #[span.reduce drwxr-xr-x    5 kev  staff   170 14 Nov 10:49 _layouts]
    #[span.reduce drwxr-xr-x    4 kev  staff   136 17 Nov 21:38 _posts]
    #[span.reduce drwxr-xr-x    5 kev  staff   170 16 Nov 22:51 _sass]
    #[span.reduce drwxr-xr-x    9 kev  staff   306 17 Nov 23:06 _site]
    -rw-r--r--    1 kev  staff   328 17 Nov 22:54 about.md
    drwxr-xr-x    3 kev  staff   102 16 Nov 22:52 css
    -rw-r--r--    1 kev  staff  1292 14 Nov 10:49 feed.xml
    drwxr-xr-x    4 kev  staff   136 16 Nov 23:10 images
    -rw-r--r--    1 kev  staff   560 17 Nov 21:54 index.html

  ul
    li.fragment Files/directories prefixed with a underscore aren&rsquo;t included in the build
    li.fragment Markdown files converted to HTML
