section#jekyll-turbo-plugins-used.slide-jekyll-turbo-plugins-used
  h2 Plugins used

  ul
    li.fragment: a(href='https://github.com/rustygeldmacher/jekyll-contentblocks',target='_blank') jekyll-contentblocks
    li.fragment: a(href='https://github.com/jekyll/jekyll-redirect-from',target='_blank') jekyll-redirect-from
    li.fragment Category Pagination
    li.fragment Journal Tags
    li.fragment Picture Tag
    li.fragment Filters
      ul
        li Default
        li Slug
        li Excerpt
