section#jekyll-turbo-tags.slide-jekyll-turbo-tags
  h2 Tag pages

  p.pre-description Posts have tags defined in their front matter
  pre.
    title: 'Lomography in Rome'
    date: '2014-07-09 20:28:41 +0100'
    tags:
    - Photography
    - Lomography
    - Travel

  p.pre-description Pages are generated for each tag
  pre.
    #[strong kev:~/Sites/donnacarter.co.uk/dist/journal/tagged/graphic-design (master)$] ls -l
    total 24
    -rw-r--r--  1 kev  staff  10987  6 Oct 19:36 index.html
    drwxr-xr-x  3 kev  staff    102  6 Oct 19:35 page-2
    drwxr-xr-x  3 kev  staff    102  6 Oct 19:35 page-3
    drwxr-xr-x  3 kev  staff    102  6 Oct 19:35 page-4
