section#jekyll-turbo-plugins-used.slide-jekyll-turbo-plugins-used
  h2 Plugins used

  ul
    li: a(href='https://github.com/rustygeldmacher/jekyll-contentblocks',target='_blank') jekyll-contentblocks
    li: a(href='https://github.com/jekyll/jekyll-redirect-from',target='_blank') jekyll-redirect-from
    li Category Pagination
    li Journal Tags
    li Picture Tag
    li Filters
      ul
        li Default
        li Slug
        li Excerpt
