section#jekyll-further.slide-jekyll-further
  h2 Do more with Jekyll
  .fragment
    h3 Search
    ul
      li.fragment Convert a json file that has all post content
      li.fragment Use AJAX to load it and #[a(href='http://lunrjs.com/',target='_blank') Lunr] to search
      li.fragment Update DOM to display results

  .fragment
    h3 Something else Interesting
