section#jekyll-pagination.slide-jekyll-pagination
  h2 Pagination
  p We can easily generate pagination for our posts

  .fragment
    h4.pre-description _config.yml
    pre
      code.nohighlight.
        paginate: 5
        paginate_path: "/page-:num/"

  .fragment
    h4.pre-description index.html
    pre
      code.html.
        {% for post in paginator.posts %}
          &lt;!-- post --&gt;
        {% endfor %}

        {% if paginator.total_pages &gt; 1 %}
        &lt;div class="pagination"&gt;
          {% if paginator.previous_page %}
            &lt;a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"&gt;&lt; Earlier&amp;lt;/a&gt;
          {% endif %}

          {% if paginator.next_page %}
            &lt;a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next"&gt;Older &amp;gt;&lt;/a&gt;
          {% endif %}
        &lt;/div&gt;
        {% endif %}
