section#limitations.slide-limitations
  h2 Limitations
  ul
    li.fragment All dynamic aspects require javascript
    li.fragment Can&rsquo;t maintain a server-side session
    li.fragment Can&rsquo;t process data on the server
    li.fragment Some simple things can be more difficult
      ul
        li Forms
        li Pagination
        li Redirects

  blockquote.fragment.zoom-in Embrace and celebrate the limitations &#x1F44D;
