section.slide-pretty-urls
  h2 Pretty URLs

  ul
    li.fragment We probably don't have a redirect engine
    li.fragment We can use directory index files
    li.fragment So urls are like //examp.le/path/to/resource/
    li.fragment Or use extension //examp.le/path/to/resource.html
