section#pretty-urls.slide-pretty-urls
  h2 Pretty URLs

  ul
    li We probably don't have a redirect engine
    li We can use directory index files
    li So urls are like //examp.le/path/to/resource/
