section#process.slide-process
  h2 The Process
  div.process-diagram
    div.col.source.fragment.zoom-in
      h3.header Source
      ul.unstyled
        li Templates
        li Styles
        li Scripts
        li Assets
        li Dependencies
        li Build Scripts
        li Configuration
    div.col.compile.fragment.zoom-in
      h3.header Build
      ul.unstyled
        li Generate HTML
        li Build JS/CSS
        li Tests
        li Automation
        li Minify
    div.col.build.fragment.zoom-in
      h3.header Deploy
      ul.unstyled
        li Amazon S3
        li Github Pages
        li FTP
