section.slide-projects
  section
    h2 Projects

    h3 Task Runners
    .task-runners
      ul.task-runners-major
        li: img(src='/images/grunt-logo.png', alt='Grunt', width='300')
        li: img(src='/images/gulp-logo.png', alt='Gulp', width='150')
      ul.task-runners-minor
        li Make/Rake
        li Ant/Phing
        li .sh

  section
    h2 Projects
    h3 Static Site Generators
