section.slide-redirects
  h2 Redirects

  ul
    li.fragment Some platforms don&rsquo;t support redirects
    li.fragment Those that do are tailored to platform
    li.fragment Can do it cross platform with a html file at URL
      ul.unstyled
        li: pre: code.html &lt;link rel="canonical" href="/correct-url/"&gt;
        li: pre: code.html &lt;meta http-equiv="refresh" content="0; url=/correct-url/"&gt;
        li: pre: code.html &lt;script&gt;window.location = '/correct-url/';&lt;/script&gt;
