section#redirects.slide-redirects
  h2 Redirects

  ul
    li Some platforms don&rsquo;t support redirects
    li Those that do are tailored to platform
    li Can do it cross platform with a HTML file at URL
      ul.unstyled
        li: pre: code.html &lt;link rel="canonical" href="/correct-url/"&gt;
        li: pre: code.html meta http-equiv=&quot;refresh&quot; content=&quot;0; url=/correct-url/&quot
        li: pre: code.html &lt;script&gt;window.location = '/correct-url/';&lt;/script&gt;
