section.slide-simple-static-dir
  h2 The Directory Structure
  pre.fragment.reduce-opacity.
    #[span.reduce -rw-r--r--    1 kev  staff     79  7 Nov 00:36 .aws.json ]
    -rw-r--r--    1 kev  staff     38  7 Nov 00:36 .bowerrc
    -rw-r--r--    1 kev  staff    197  7 Nov 00:36 .editorconfig
    #[span.reduce -rw-r--r--    1 kev  staff    170  7 Nov 00:36 .ftp.json ]
    #[span.reduce drwxr-xr-x   12 kev  staff    408 10 Nov 23:44 .git ]
    -rw-r--r--    1 kev  staff     12  7 Nov 00:36 .gitattributes
    -rw-r--r--    1 kev  staff     68  9 Nov 16:42 .gitignore
    -rw-r--r--    1 kev  staff    351  7 Nov 00:36 .jshintrc
    #[span.reduce drwxr-xr-x   12 kev  staff    408 10 Nov 22:45 .sass-cache ]
    #[span.reduce drwxr-xr-x    7 kev  staff    238 11 Nov 09:33 .tmp ]
    -rw-r--r--    1 kev  staff  16590  9 Nov 18:54 Gruntfile.js
    -rw-r--r--    1 kev  staff    697  7 Nov 00:36 README.md
    drwxr-xr-x    8 kev  staff    272 10 Nov 22:34 app
    -rw-r--r--    1 kev  staff    247 10 Nov 22:44 bower.json
    #[span.reduce drwxr-xr-x    9 kev  staff    306 10 Nov 22:44 bower_components ]
    #[span.reduce drwxr-xr-x    7 kev  staff    238 11 Nov 09:33 dist ]
    #[span.reduce drwxr-xr-x   30 kev  staff   1020  7 Nov 00:38 node_modules ]
    -rw-r--r--    1 kev  staff   1014  7 Nov 00:36 package.json
    #[span.reduce drwxr-xr-x    7 kev  staff    238 11 Nov 09:33 preview ]
