section#simple-static-stack.slide-simple-static-stack
  h2 The Stack
  ul
    li Grunt Task Runner
    li #[abbr(title='Node Package Manager') NPM ] build dependencies
    li Bower client side dependencies
    li Jade Templates
    li SASS
    li Coffeescript
    li Git
    li FTP Deploy
    li S3 Deploy
