section#simple-static-summary.slide-simple-static-summary
  h2 A Simple Static Site
  ul
    li.fragment Great for a small brochure site
    li.fragment Fun to develop
    li.fragment Easy to deploy
    li.fragment It isn't at any risk of replacing Wordpress

  aside.notes Ask for questions, pre wordpress
