section#simple-static-title.slide-simple-static-title
  h2 How to build a simple Static Site*
  h3(style='margin-top:8em').fragment.zoom-in *Like #[a(href='http://kdd-static.kevindew.me',target='_blank') this one] &#x1F609;
