section.slide-skills
  h2 So who&rsquo;s pumped to make a static site?

  .fragment
    img(src='/images/fuck-yeah.gif', alt='Fuck Yeah', width='600')
    //- p(style='font-weight:bold;font-size:3em;margin-bottom:0em;') YEAAAAAAAAHHHH!

  .fragment
    h3 Here&rsquo;s some gotchas
