doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title F' the B'end
    meta(name='description', content='')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    // build:css({.,app,.tmp}) /styles/main.css
    link(rel='stylesheet', href='/bower_components/reveal.js/css/reveal.css')
    link(rel='stylesheet', href='/bower_components/reveal.js/lib/css/zenburn.css')
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

    //- link(rel='shortcut icon',href='/favicon.ico')
    //- link(rel='apple-touch-icon-precomposed',href='/apple-touch-icon.png')
  body
    .reveal
      .slides
        include slides/_title
        include slides/_intro
        include slides/_great-for
        include slides/_limitations
        include slides/_process
        include slides/_projects-task-runners
        include slides/_projects-static-site-generators
        include slides/_simple-static-title
        include slides/_simple-static-stack
        include slides/_simple-static-dir
        include slides/_generating-structure
        include slides/_dependencies-npm
        include slides/_dependencies-bower
        include slides/_grunt
        include slides/_gruntfile
        include slides/_grunt-tasks
        include slides/_grunt-dev
        include slides/_grunt-preview
        include slides/_grunt-dist
        include slides/_deploy-ftp-config
        include slides/_deploy-ftp-task
        include slides/_deploy-ftp-summary
        include slides/_deploy-s3-intro
        include slides/_deploy-s3-config
        include slides/_deploy-s3-task
        include slides/_deploy-s3-summary
        include slides/_simple-static-summary
        include slides/_jekyll-title
        include slides/_jekyll-intro
        include slides/_jekyll-setup
        include slides/_jekyll-dir
        include slides/_jekyll-front-matter
        include slides/_jekyll-front-matter-2
        include slides/_jekyll-pagination
        include slides/_jekyll-comments
        include slides/_jekyll-forms
        include slides/_jekyll-form-example
        include slides/_jekyll-deploy
        include slides/_jekyll-plugins
        include slides/_jekyll-turbo-title
        include slides/_jekyll-turbo-hosting
        include slides/_jekyll-turbo-jekyll-grunt
        include slides/_jekyll-turbo-plugins
        include slides/_jekyll-turbo-plugin-types
        include slides/_jekyll-turbo-plugins-used
        include slides/_jekyll-turbo-tags
        include slides/_jekyll-turbo-tag-generator
        include slides/_jekyll-turbo-responsive-images
        include slides/_jekyll-turbo-responsive-images-config
        include slides/_jekyll-turbo-responsive-images-usage
        include slides/_jekyll-further
        include slides/_skills
        include slides/_pretty-urls
        include slides/_redirects
        include slides/_error-pages
        include slides/_hosting-generic
        include slides/_hosting-github
        include slides/_hosting-s3
        include slides/_questions
        include slides/_thanks


    // build:js({.,app,.tmp}) /scripts/footer.js
    script(src='/bower_components/reveal.js/js/reveal.js')
    script(src='/bower_components/reveal.js/plugin/highlight/highlight.js')
    script(src='/bower_components/twemoji/twemoji.js')
    script(src='/scripts/main.js')
    // endbuild
    script(src='/bower_components/reveal.js/plugin/notes/notes.js')
