doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title F' the B'end
    meta(name='description', content='')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    // build:css({.,app,.tmp}) /styles/main.css
    link(rel='stylesheet', href='/bower_components/reveal.js/css/reveal.css')
    link(rel='stylesheet', href='/bower_components/reveal.js/lib/css/zenburn.css')
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

    //- link(rel='shortcut icon',href='/favicon.ico')
    //- link(rel='apple-touch-icon-precomposed',href='/apple-touch-icon.png')
  body
    .reveal
      .slides
        include slides/_title
        include slides/_intro
        include slides/_great-for
        include slides/_limitations
        include slides/_process
        include slides/_projects-task-runners
        include slides/_projects-static-site-generators
        include slides/_simple-static-title
        include slides/_simple-static-stack
        include slides/_simple-static-dir
        include slides/_generating-structure
        include slides/_dependencies-npm
        include slides/_dependencies-bower
        include slides/_grunt
        include slides/_gruntfile
        include slides/_grunt-tasks
        include slides/_grunt-dev
        include slides/_grunt-preview
        include slides/_grunt-dist
        include slides/_deploy-ftp-config
        include slides/_deploy-ftp-task
        include slides/_deploy-ftp-summary
        include slides/_deploy-s3-intro
        include slides/_deploy-s3-config
        include slides/_deploy-s3-task
        include slides/_deploy-s3-summary

    // build:js({.,app,.tmp}) /scripts/footer.js
    script(src='/bower_components/reveal.js/js/reveal.js')
    script(src='/bower_components/reveal.js/plugin/highlight/highlight.js')
    script(src='/bower_components/twemoji/twemoji.js')
    script(src='/scripts/main.js')
    // endbuild
